{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/users.css' %}" type="text/css" />
    <title>Workout Routine</title>
</head>
<body>
    <div class="center">
        <h4 class="heading">Sign Up</h4>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label>Username</label>
                <input name="username" type="text" class="form-control input-field" placeholder="Enter Username">
            </div>
            <div class="form-group">
              <label>Email address</label>
              <input name="email" type="email" class="form-control input-field" id="exampleInputEmail" placeholder="Enter Email">
              <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input name="password" type="password" class="form-control input-field" id="exampleInputPassword1" placeholder="Enter Password">
            </div>
            <small class="form-text">Already have an Account? <a href="{% url 'login' %}">Log In Here!</a></small>
            <button type="submit" class="btn btn-primary btn-block submit-btn">Submit</button>
        </form>
    </div>
</body>
</html>